<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vattuonet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

  <!-- Lovingly taken from https://ihatetomatoes.net/create-custom-preloading-screen/ -->
  <div class="spinner-wrapper">
    <div class="spinner"></div>
  </div>


  <div class="container" id="panels"></div>

  <video id="video"></video>
  <script>var app = {};</script>
  <script src="/bundle.js"></script>

  <script type="text/template" id="projectTemplate">
    <div class="project">
      <div class="project-image">
        <img src="<%= image %>" />
      </div>
      <div class="project-info">
        <h3><%= name %></h3>
        <div class="project-description">
          <p><%= description %></p>
        </div>
        <p>Built with the help of:</p>
        <div class="tags">
          <ul>
            <% _.each(tags, function(tag) { %> <li class="tag"> <%= tag %> </li> <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="panelTemplate">
    <div id="<%= title %>" class="panel">
      <div class="panel-wrapper">
        <h2 class="panel-title"><%= title %></h2>
        <span class="close">×</span>
        <div class="panel-content">
          <%= content %>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="postTemplate">
      <div class="post">
        <h2><%= title %></h2>
        <div><%= body %></div>
      </div>
  </script>
</body>
</html>