<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vattuonet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

  <!-- Lovingly taken from https://ihatetomatoes.net/create-custom-preloading-screen/ -->
  <div class="spinner-wrapper">
    <div class="spinner"></div>
  </div>


  <div class="container" id="panels"></div>

  <video id="video"></video>
  <script>var app = {};</script>
  <script src="/bundle.js"></script>

  <script type="text/template" id="projectTemplate">
    <div id="<%= slug %>" class="project">
      <img src="<%= image %>" />
      <p class="project-description"><%= description %></p>
      <ul class="project-tags">
        <% _.each(tags, function() { %> <li> <%= this %> </li> <% }); %>
      </ul>
    </div>
  </script>
  
  <script type="text/template" id="panelTemplate">
    <div id="<%= title %>" class="panel">
      <div class="panel-wrapper">
        <h2><%= title %></h2>
        <%= content %>
        <button>Close</button>
      </div>
    </div>
  </script>

  <script type="text/template" id="postTemplate">
      <div class="post">
        <h2><%= title %></h2>
        <div><%= body %></div>
      </div>
  </script>
</body>
</html>