<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vattuonet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Martel+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

  <!-- Lovingly taken from https://ihatetomatoes.net/create-custom-preloading-screen/ -->
  <div class="spinner-wrapper">
    <div class="spinner"></div>
  </div>

  <header>
    <h2><a href="#blog">Vattuonet</a></h2>
    <nav class="menu">      
      <ul>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="mailto:mike@vattuo.net?subject=Hello+Hooray">Say Hi</a></li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <div class="container cf"></div>
    <video id="video" class="hidden"></video>
  </section>

  <footer>
    <span id="pi">π</span>
  </footer>
  
  <script src="/bundle.js"></script>

  <script type="text/template" id="projectTemplate">
    <div class="project" id="<%= slug %>" style="background-image: url(<%= image %>);">
        <div class="project-overlay hidden" data-url="<%= url %>">
          <div class="project-overlay-inner">
            <h1><%= name %></h1>          
            <p><%= description %></p>
            <div class="tags">
              <ul>
                <% _.each(tags, function(tag) { %> <li class="tag"> <%= tag %> </li> <% }); %>
              </ul>
            </div>
          </div>
        </div>  
    </div>
  </script>
  
  <script type="text/template" id="panelTemplate">
    <div id="<%= title %>" class="panel">
      <div class="panel-wrapper">
        <div class="panel-content">
          <%= content %>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="postTemplate">
      <div class="post">
        <h2><%= title %></h2>
        <div><%= body %></div>
      </div>
  </script>
</body>
</html>