html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body, #container {
    background: #063E63;
}

#container{
    opacity:0;
    -webkit-transition: opacity 2.5s ease-in;
    transition: opacity 2.5s ease-in;
    height:100vh;
    z-index:999;
    position:relative;
}

#container.loader {
    opacity:1;
}

video {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -240px;
}

canvas {
    position:absolute;
    top:0;
}
