body, #container {
    width:100%;
    height:100vh;
    margin:0;
}


.spinner-wrapper {
    position:absolute;
    z-index:4;
    top:0; left:0;
    opacity:1;
    height:100%;
    background-color:transparent;
    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
    height:100vh;
    width:100vw;
    overflow:hidden;
    background: #063E63;
    
}

.loaded .spinner-wrapper {
    opacity:0;
}

#scene {
    position:absolute;
    top:0;

    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
    opacity:0;
}

.loaded #scene {
    opacity:1;
    z-index:5;
}

.panel { 
    width: 100vw;
    min-height:100vh;
    overflow:scroll;
    top: 0;
    left: 0;
    position: absolute;
    z-index:6;
    opacity:0; 
}

.panel.current.exit {
    transition: transform 0.3s linear;
}

.panel.current.exit#about {
    transform: translateX(-100%);
}

.panel.current.exit#contact {
    transform: translateX(100%);
}

.panel.current.exit#blog { 
    transform: translateY(-100%);
}

.panel.current.exit#projects {
    transform: translateY(100%);
}

.panel#about {
    transform: translateX(-100%);
    background-color: #1663e9;
}

.panel#contact {
    transform: translateX(100%);
    background-color: #38bca6;
}

.panel#blog {
    transform: translateY(-100%);
    background-color: #de9221;
}

.panel#projects {
    transform: translateY(100%);
    background-color: #dbb724;
}

.panel.current { 
    opacity:1;
    transition: all 0.3s linear;
}

.panel#about.current {
    transform: translateX(0);
}

.panel#contact.current {
    transform: translateX(0);
}

.panel#blog.current {
    transform: translateY(0);
}

.panel#projects.current {
    transform: translateY(0);
}

#video {
    visibility: hidden;
}

.panel-wrapper {
    display:block;
    margin:0 auto;
    padding:20px 10%;
    height:100%;
    overflow:scroll;
}
