body {
  -webkit-font-smoothing: antialiased;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

img {
    max-width:100%;
}

body, #container {
    width:100%;
    height:100vh;
    margin:0;
    color: #111;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-weight:300;
}

h1, h2, h3, h4, h5, h6, nav ul li, .button {
    font-family: 'Martel Sans', sans-serif;
}

p, span, li {
    font-family: 'EB Garamond', serif;
}

a {
  color: rgba(6, 62, 99, 1);
}

header {
  height:15vh;
  display:block;
  width:100%;
  position:relative;
  z-index:7;
  padding:0;
  transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  background-color:#fff;
}


header.slideUp { 
  height:0;
}

.menu {
  text-align:center;
}

ul {
  list-style:none;
  padding:0; margin:0;
}

.menu li {
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  margin: 0 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .03em;
  color: #FFF;
  font-size: 13px;
  position: relative;
  text-align: center;
}

header h2 {
  margin:0;
  padding:10px 0;
  text-align:center;
  letter-spacing:0;
  text-transform:uppercase;
}

header h2 a {
  color:#111;
  text-decoration: none;
}

.menu li:after {
  content: '\/';
  position: absolute;
  color: #111;
  right: -14px;
  bottom: 2px;
}

.menu li:last-child:after {
  content: "";
}

.menu li a {
  color: #111;
  text-decoration: none;
  position:relative;
  display:block;
  text-align:center;
}

.menu a:hover:before, .menu a:active:before, .menu a:visited:hover:before, .menu a:visited:active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0px;
  top: 22px;
  background-color: #111;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

.menu li a:hover,
.menu li a:focus {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.loading .spinner-wrapper {
    position:absolute;
    z-index:10;
    top:0; left:0;
    opacity:1;
    height:100%;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    height:100vh;
    width:100vw;
    overflow:hidden;
    background: #063E63;   
}

.spinner-wrapper {
    opacity:0; 
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
}

#scene {
    position:absolute;
    top:0;

    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    opacity:0;
}

#scene.loading {
  opacity:0;
}

#scene {
    opacity:1;
    z-index:11;
}

.panel { 
    width: 100vw;
    height:85vh;
    overflow:scroll;
    top: 15vh;
    left: 0;
    position: absolute;
    z-index:6;
    opacity:0;
}

.panel.current {
  opacity:1;
}

.panel.exit,
.panel.enter,
.project.enter,
.project.exit {
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
}

.panel.current.exit#about {
    transform: translateX(-100%);
}

.panel.current.exit#contact {
    transform: translateX(100%);
}

.panel.current.exit#blog { 
    transform: translateY(111%);
}

.panel.current.exit#projects {
    transform: translateY(-100%);
}

.panel#about {
    transform: translateX(-100%);
}

.panel#contact {
    transform: translateX(100%);
}

.panel#blog {
    transform: translateY(111%);
}

.panel#projects {
    transform: translateY(-100%);
}

.main,
.container {
    width:100%;
    height:85vh;
    top:15vh;
    background-color: rgba(255,255,255,1);
}

.panel#about.current {
    transform: translateX(0);
}

.panel#contact.current {
    transform: translateX(0);
}

.panel#blog.current {
    transform: translateY(0);
}

.panel#projects.current {
    transform: translateY(0);
}

.panel-title {
    float:left;
    margin-top:0;  
    font-weight:normal;
}

.panel .close {
    float:right;
}

.hidden {
  visibility: hidden;
  position:absolute;
  top:0; left:0;
}

.panel-content {
    clear:both;
    overflow:scroll;
}

#projects .panel-wrapper {
  padding:0;
  margin:0;
}

.panel-wrapper {
    display:block;
    margin:0 auto;
    padding:0 10%;
    height:100%;
    overflow:scroll;
}

.panel-title {
    text-transform:capitalize;
}

.project {
    background-repeat: no-repeat;
    background-position:center center;
    background-size:100% auto;
    position: relative;
    width:auto;
    background-color: rgba(204,152,95,1);
    padding-top:100%;
    cursor:pointer;
}

.project-overlay {
  position: absolute;
  display:none;
  opacity:0;
  width: 100%;
  height: 100%;
  padding:0 50px;
  background-color: rgba(0,0,0,0.6);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -box-sizing:border-box;
}

.project-overlay-inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.project-overlay h1, .project-overlay p, .project-overlay a, .tags {
  color: #FFF;
}

.project-overlay h1 { font-size: 36px; margin:0; }

.project.current .project-name {
  text-align:left;
  position:static;
  color#FFF;
}

.project.current .project-name:before {
  display:none;
}

.tags {
  display:inline-block;
}

.tags ul {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li:after {
  content:", ";
  margin-right:2px;
}

.tags li:last-child:after {
  content:"";
  margin:0;
}

.tag {
  display: inline-block;
  font-style: italic;
}

.button {
  float:right;
  background-color: #063E63;;
  padding:11px 8px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom:10px;
}

#pi {
  position:absolute;
  bottom:10px;
  right:20px;
  z-index:10;
  cursor:pointer;
}

@media all and (min-width: 768px) {

  header {
    height:70px;
    padding:0;
  }

  .main,
  .container {
      width:100%;
      height:85vh;
      top:15vh;
      background-color: rgba(255,255,255,1);
  }

  .menu {
    float:right;
  }

  .menu li {
    vertical-align: middle;
    display: inline-block;
    padding: 27px 3px 17px 0px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .03em;
    color: #FFF;
    font-size: 13px;
    position: relative;
  }

  .menu li:last-child { margin-right:20px; }

  .menu li:after { right: -16px; bottom: 18px; }

  header h2 {
    margin: 0;
    padding: 16px 6px 17px 20px;
    float: left;
  }

  .project {
    padding-top:0;
    width: 50%;
    float:left;
    height: 400px;
    background-size:cover;
  }

  .project-overlay { 
    display:table;
  }

  .project:hover .project-overlay {
    opacity:1;
  }

  .panel {
    height:90vh;
    top:70px;
  }
}

@media all and (min-width:1024px) {
  .project {
    height:720px;
  }
}
